html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.section{
	height: 550px;
	width: 100%;
    background-image: url(real1.jpg);
    background-size: cover;
    background-color:

}	 
 	
 	.loginbox{
 		
 		float: left;
	    position:absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50% , -50%);
		width: 250px;
		height: 400px;
		padding: 40px 30px;
		box-sizing:border-box;
		background:#beb8b8;
		/* opacity: 0.85; */
		
	 }
	 .userlogo{
	 	height: 85px;
	 	width: 125px;
	 	border-radius: 20%;
	 	overflow: hidden;
	 	position: absolute;
	 	top: -50px;
	 	left:60px;

	 }
		 .loginbox b{
			color:black;
			float: center;
			padding-left: 25px;

		 }


	.loginbox p{
		margin:0;
		padding: 0 ;
	    font-weight: bold;
		color: #000000;
	}
	.loginbox input{
		width: 100%;
		marker-end: 20px;
	}

	.loginbox input[type="text"]
			{
		border: none;
	    border-bottom: 1px solid #ffffff;
		 outline: none;
		 margin-bottom: 10px ;
		 background: transparent;
		 height: 40px;
		 color: #000000;
		 font-size: 16px;

    }
    	.loginbox input[type="email"]
			{
		border: none;
	    border-bottom: 1px solid #ffffff;
		 outline: none;
		 margin-bottom: 10px ;
		 background: transparent;
		 height: 40px;
		 color: #000000;
		 font-size: 16px;

    }
    .loginbox textarea{
    	height:80px;
      	width: 188px;
    }

	
	.loginbox button[type="submit"]
	{
		margin:8px;
		border: none;
		outline: none;
		width: 100px;
		height:35px;
		font-weight: bold;
		font-family: sans-serif;
		color: #000;
		font-weight: 16px;
		border-radius: 20px;
	    cursor: pointer;
    }

	.loginbox button[type="submit"]:hover{
		background: #7CFC00;
	     
	}

	.loginbox a{
	    color:blue;
		
		margin-top: 300px;
		font-weight: bold;
	
	} 